{% extends "base.html" %}
{% block title %}Wallet{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

<div class="jumbotron text-center">
  <h1 class="display-5">Transfira dinheiro para seus amigos, grátis!</h1>
  <p class="lead">Taxa de TED? Não aqui.</p>
  <hr class="my-4">
  <a href="/wallet" class="btn btn-primary"><i class="fas fa-wallet"></i> Minha carteira</a>
  <a href="/users" class="btn btn-success"><i class="fas fa-hand-holding-usd"></i> Pagar a alguém</a>
</div>

{% endblock %}
