{% extends "base.html" %}
{% block title %}Wallet{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
    <li class="breadcrumb-item active" aria-current="page">Últimas Transações</li>
  </ol>
</nav>

<div class="container">
  <div class="row">
    <div class="col-12">
      <table id='transactions' class='table table-striped text-center'>
        <thead>
          <tr>
            <th style="width:33%">Pagador</th>
            <th style="width:33%">Recebedor</th>
            <th style="width:33%">Valor</th>
          </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
          <tr>
            <td>
              <a href='users/{{transaction.src_user.nickname}}'>{{ transaction.src_user.nickname }}</a>
            </td>
            <td>
              <a href='users/{{transaction.dst_user.nickname}}'>{{ transaction.dst_user.nickname }}</a>
            </td>
            <td>
              {{"${:,.2f}".format(transaction.value)}}
            </td>
          </tr>
        </tbody>
        {% endfor %}
        <tfoot>
          <tr>
            <td colspan="3">
              {% if transactions|length > 0 %}
                Total de transações: {{transactions|length}}
              {% else %}
                Nenhuma transação efetuada.
              {% endif %}
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
{% endblock %}
