{% extends "base.html" %}
{% block title %}Wallet{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
    <li class="breadcrumb-item active" aria-current="page">Usuários</li>
  </ol>
</nav>

<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h3>Pagar a alguém</h3>
        </div>
        <div class="card-body">
          <p class="col-12 text-center">Selecione ou busque por um usuário para efetuar um pagamento.</p>
          <div class="offset-1 col-10">
            <form action="users" method="get">
              <div class="input-group mb-3">
                <input name="nickname" type="text" class="form-control" placeholder="pesquisar usuário" aria-label="pesquisar usuário" aria-describedby="basic-addon1">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search"></i></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6">
      <table id='registered_users' class='col-12 table table-striped text-center'>
        <thead>
          <tr>
            <th>Usuários</th>
          </tr>
        </thead>
        <tbody>
        {% for user in users %}
          <tr>
            <td>
              {% if user.nickname != logged_user.nickname %}
                <a href='users/{{user.nickname}}'>{{ user.nickname }}</a>
              {% else %}
                {{ user.nickname }} (eu)
              {% endif %}
            </td>
          </tr>
        </tbody>
        {% endfor %}
        <tfoot class="text-right">
          <tr>
            <td>
              {% if users|length > 0 %}
                Total de usuários: {{users|length}}
              {% else %}
                Nenhum usuário encontrado.
              {% endif %}
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
{% endblock %}
